ActionBar {
  background-color: #106CC8;
  color:white;
}

.drawer-content {
  background-color: #053140;
  color: white;
  padding-top: 20;
  width:100%;
  height:100%;
}
.drawer-content label {
  font-size: 20;
  margin: 10 0 15 25;
}
button {
  font-size: 18;
  horizontal-align: center;
  color: blue;
  margin:0 10px 0 0;
}
TextField {
  background-color: #FAFAFA;
  border-width: 1;
  border-style: solid;
  border-color: #C7C7CC;
  border-radius: 2;
}
.link {
  border-width: 0;
  background-color: transparent;
}
.pink {
  color: #FF45F9;
}

.container {
  padding:10;
}

.drawerMenuContent {
    margin:10;
}

.mainContent{
    background-color: white;
}

.drawerContent {
    background-color: white;
}

.headerContent {
    padding:20;
    background-color: #808080
}
