@import '../../../css/variables';

:host {
  background-color: $brand-primary-color;
  color: $button-text-color;
  display: block;
  height: 48px;
  padding: 0 16px;
  position: relative;

  lang-switcher,
  more {
    position: absolute;
  }

  lang-switcher {
    right: 52px;
    top: 13px;
  }

  more {
    background: url('./assets/svg/more.svg');
    cursor: pointer;
    height: 24px;
    opacity: .7;
    right: 10px;
    top: 12px;
    width: 24px;
  }

  more:hover {
    opacity: 1;
  }
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: .1px;
  line-height: 48px;
}


