:host {
  background-color: #106cc8;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 48px;
  padding: 0 16px;
  position: relative; }
  :host lang-switcher,
  :host more {
    position: absolute; }
  :host lang-switcher {
    right: 52px;
    top: 13px; }
  :host more {
    background: url("./assets/svg/more.svg");
    cursor: pointer;
    height: 24px;
    opacity: .7;
    right: 10px;
    top: 12px;
    width: 24px; }
  :host more:hover {
    opacity: 1; }

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: .1px;
  line-height: 48px; }
