{
  "extends": "stylelint-config-standard",
  "rules": {
    "block-no-empty": null,
    "at-rule-empty-line-before": null,
    "no-empty-source": null,
    "rule-non-nested-empty-line-before": null,
    "selector-pseudo-class-no-unknown" : [ true, {
      "ignorePseudoClasses": [
        "host"
      ]
    }],
    "selector-type-no-unknown": null,
    "shorthand-property-no-redundant-values": null
  }
}
