:host {
  display: block;
  padding: 0 16px; }

input {
  width: 250px; }

ul {
  list-style-type: none;
  padding: 0 0 0 8px; }

smile {
  background: url("./assets/svg/smile.svg");
  display: inline-block;
  height: 48px;
  margin-top: -25px;
  position: relative;
  top: 16px;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
  width: 48px; }
