:host {
  display: block;
  padding: 0 16px;
}

$inputWidth: 300px;

.inputWrapper {
  width: $inputWidth;
  position: relative;
  display: inline-flex;

  input {
    width: $inputWidth;
  }
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.smile {
  background: url("./assets/svg/smile.svg");
  height: 48px;
  width: 48px;
  display: inline-block;
  transform: scale(0.6);
  margin-top: -25px;
  position: relative;
  top: 16px;
}

.microphone {
  background: url("./assets/svg/mic.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  right: 1px;
  top: 8px;

  &:hover {
    cursor: pointer;
  }
}

a.link {
  color: #00e;
  cursor: pointer;
  text-decoration: underline;
}

a.link:hover {
  color: #f00;
}
