:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.smile {
  background: url("./assets/svg/smile.svg");
  height: 48px;
  width: 48px;
  display: inline-block;
  transform: scale(0.6);
  margin-top: -25px;
  position: relative;
  top: 16px;
}

a.link {
  color: #00e;
  cursor: pointer;
  text-decoration: underline;
}

a.link:hover {
  color: #f00;
}
