<StackLayout class="container">
  <!--<Label [text]="'LOVE_TECH' | translate"></Label>-->
  <!--<Label [text]="'ABOUT_REWARD' | translate"></Label>-->
  <Label text="Your Angular 2 Advanced Seed App is working perfectly!" textWrap="true"></Label>
  <Label text="For reward, here is a list of awesome computer scientists..." textWrap="true"></Label>
  <Label text="Well, that list is coming soon. This is a work in progress." textWrap="true"></Label>

  <!--<TextField [ngModel]="newName" hint="Awesome Computer Scientist" autocorrect="false" autocapitalizationType="none"></TextField>
  <Button text="Add" (tap)="addName()"></Button>
  <ListView [items]="nameList.get()" row="1" colSpan="2">
    <item-template>
      <template #name="item" #odd="odd" #even="even">
        <StackLayout [class.odd]="odd" [class.even]="even">
          <Label [text]="name"></Label>
        </StackLayout>
      </template>
    </item-template>
  </ListView>-->
</StackLayout>
