<StackLayout class="container">
  <!--<Label [text]="'LOVE_TECH' | translate"></Label>-->
  <!--<Label [text]="'ABOUT_REWARD' | translate"></Label>-->
  <Label text="Your Angular 2 Advanced Seed App is working perfectly!" textWrap="true"></Label>
  <Label text="For reward, here is a list of awesome computer scientists..." textWrap="true"></Label>

  <TextField [(ngModel)]="newName" hint="Enter a new computer scientist..." autocorrect="false" autocapitalizationType="none"></TextField>
  <Button text="Add" (tap)="addName()"></Button>
  <ListView [items]="nameList.get()" row="1" colSpan="2">
    <template #name="item" #odd="odd" #even="even">
      <StackLayout [class.odd]="odd" [class.even]="even" class="list-item">
        <Label [text]="name"></Label>
      </StackLayout>
    </template>
  </ListView>
</StackLayout>
