Button {
    border-width: 1;
    border-style: solid;
    border-radius: 5;
}
TextField {
    background-color: #FAFAFA;
    border-width: 1;
    border-style: solid;
    border-color: #C7C7CC;
    border-radius: 2;
}
.link {
    border-width: 0;
}
