@import 'nativescript-theme-core/css/core.light.css';

.action-bar {
  background-color: #3280CF;
  color:white;
}
.btn-primary {
  background-color: #106CC8;
}
TextField {
  margin: 15 15 0 15;
}
.link {
  border-width: 0;
  background-color: transparent;
}
.pink {
  color: #FF45F9;
}

.odd {
    background-color: #efefef;
}

.even {
    background-color: #fff;
}
