<ActionBar [title]="'ABOUT' | translate" class="action-bar">
  <NavigationButton [text]="'HOME' | translate"></NavigationButton>
</ActionBar>
<StackLayout class="p-10">
  <Label text="Angular 2 Seed Advanced is a starter project that implements best practices in coding, building and testing Angular 2 apps. Additionally it adds various enhancements and integrations for large global projects." textWrap="true"></Label>

  <Label text="Features" class="heading"></Label>
  <ScrollView>
    <StackLayout padding="10" class="feature-list">
      <Label text="- Ready to go, statically typed build system using Gulp for working with TypeScript." textWrap="true"></Label>
      <Label text="- Production and development builds." textWrap="true"></Label>
      <Label text="- Sample unit tests with Jasmine and Karma including code coverage via Istanbul." textWrap="true"></Label>
      <Label text="- End-to-end tests with Protractor." textWrap="true"></Label>
      <Label text="- Development server with live reload." textWrap="true"></Label>
      <Label text="- TypeScript definition management using Typings." textWrap="true"></Label>
      <Label text="- Basic Service Worker, which implements Cache then network strategy." textWrap="true"></Label>
      <Label text="- Integration with lodash." textWrap="true"></Label>
      <Label text="- i18n with ng2-translate." textWrap="true"></Label>
      <Label text="- Native cross platform app development with NativeScript." textWrap="true"></Label>
    </StackLayout>
  </ScrollView>
</StackLayout>
