<ActionBar [title]="'ABOUT' | translate" class="action-bar">
  <NavigationButton [text]="'HOME' | translate"></NavigationButton>
</ActionBar>
<ScrollView>
  <StackLayout class="p-20">
    <Label text="Angular Seed Advanced is a starter project that implements best practices in coding, building and testing Angular 2 apps. Additionally it adds various enhancements and integrations for large global projects." textWrap="true" class="h4"></Label>

    <StackLayout class="m-y-10">
      <Label text="Features" class="h1"></Label>
      <StackLayout class="hr-light"></StackLayout>
    </StackLayout>

    <StackLayout class="feature-list">
      <Label text="- Ready to go, statically typed build system using Gulp for working with TypeScript." textWrap="true" class="body"></Label>
      <Label text="- Production and development builds." textWrap="true" class="body"></Label>
      <Label text="- Sample unit tests with Jasmine and Karma including code coverage via Istanbul." textWrap="true" class="body"></Label>
      <Label text="- End-to-end tests with Protractor." textWrap="true" class="body"></Label>
      <Label text="- Development server with live reload." textWrap="true" class="body"></Label>
      <Label text="- TypeScript definition management using Typings." textWrap="true" class="body"></Label>
      <Label text="- Basic Service Worker, which implements Cache then network strategy." textWrap="true" class="body"></Label>
      <Label text="- Integration with lodash." textWrap="true" class="body"></Label>
      <Label text="- i18n with ng2-translate." textWrap="true" class="body"></Label>
      <Label text="- Native cross platform app development with NativeScript." textWrap="true" class="body"></Label>
    </StackLayout>
  </StackLayout>
</ScrollView>
